@font-face {
    font-family: Neue;
    src: url(/fonts/RMNeueTRIAL-Regular.otf);
}
@font-face {
    font-family: pixel;
    src: url(/fonts/pixel.otf);
}
html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.hero{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
     display: flex;
    justify-content: center;
    align-items: center; 
    background: #fff;
    z-index: -2;
}
.hero .header{
    position: absolute;
    top:5%;
    left:23%;
}
h1{
    font-family:Neue;
    text-transform: uppercase;
    font-size: 12vw;
    font-weight: 400;
    position: absolute;
    letter-spacing: -0.025em;
    text-align: center; 
    pointer-events: none;
    line-height: 0.75;
    /* z-index: 1; */
}
h1 span{
    font-family: pixel;
}
#toggle {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    padding: 0.8em 1.6em;
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    z-index: 10000;
}
nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    max-inline-size: difference;
    width: 100%;
    font-family: 8514oem Regular;
    z-index: 1000;
}
nav div{
    display: flex;
    margin: 0 4em;
}

nav div p{
    font-weight: 400;
    font-size: 0.8em;
    padding: 0.8em 1.6em;
    text-transform: uppercase;
}
#square-container{    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10000;
    pointer-events: none;
}
.square{
    height: 100px;
    width: 100px;
    background:#fd552f ;/*greenyellow*/
    box-sizing: border-box;
    pointer-events: none;
}
.content-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    color: #fff;
    z-index: -1;
    background: #242424;
}
.content-overlay h1{
     color:#fd552f ;
    font-size: 4vh;

}
.content-overlay .nav-link{
    display: flex;
    /* font-size: Neue; */
}
.content-overlay .nav-link span{
    position: relative;
    top: 0.3em;
}
.content-overlay .nav-link a{
    padding:0.1em;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}
